* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.home-container h1 {
    margin-bottom: 30px;
    color: #333;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.container {
    background: white;
    padding: 30px 35px;
    width: 700px;          /* increased width */
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #4facfe;
}

button {
    width: 100%;
    padding: 12px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 10px;
    text-align: center;
}

th {
    background: #4facfe;
    color: white;
    font-weight: bold;
}

td {
    font-size: 15px;
}

.table-box {
    overflow-x: auto;
}
